*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
    
}



#btn{
    position: absolute;
    margin-left: 34%;
    margin-top: 24%;
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
}

#btn-borrar{
    position: absolute;
    margin-left: 50%;
    margin-top: 24%;
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
}



#nombre{
    position: absolute;
    margin-top: 15%;
    margin-left: 28%;
    background-color: grey;
    padding-left: 10px;
    padding-right: 150px;
    padding-top: 7px;
    padding-bottom: 5px;
}

#apellido{
    position: absolute;
    margin-top: 15%;
    margin-left: 45%;
    background-color: grey;
    padding-left: 10px;
    padding-right: 150px;
    padding-top: 7px;
    padding-bottom: 5px;
}

#cedula{
    position: absolute;
    margin-top: 20%;
    margin-left: 28%;
    background-color: grey;
    padding-left: 10px;
    padding-right: 150px;
    padding-top: 7px;
    padding-bottom: 5px;
}

#telefono{
    position: absolute;
    margin-top: 20%;
    margin-left: 45%;
    background-color: grey;
    padding-left: 10px;
    padding-right: 150px;
    padding-top: 7px;
    padding-bottom: 5px;
}

#name{
    position: absolute;
    margin-left: 35%;
    margin-top: 223px;
    background-color: grey;
    color: white;
}

#lastname{
    position: absolute;
    margin-left: 51%;
    margin-top: 223px;
    background-color: grey;
    color: white;
}

#id{
    position: absolute;
    margin-left: 35%;
    margin-top: 293px;
    background-color: grey;
    color: white;
}

#phone{
    position: absolute;
    margin-left: 51%;
    margin-top: 294px;
    background-color: grey;
    color: white;
}