*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
    
}

#container{
    position: absolute;
    margin-left: 10%;
    margin-top: 15%;
}

#btn{
    position: absolute;
    margin-left: 0%;
    margin-top: 22%;
}

#btn-borrar{
    position: absolute;
    margin-left: 7%;
    margin-top: 22%;

}



#nombre{
    position: absolute;
    margin-top: 15%;
    margin-left: 28%;
    background-color: grey;
    padding-left: 10px;
    padding-right: 150px;
    padding-top: 7px;
    padding-bottom: 5px;
}

#apellido{
    position: absolute;
    margin-top: 15%;
    margin-left: 45%;
    background-color: grey;
    padding-left: 10px;
    padding-right: 150px;
    padding-top: 7px;
    padding-bottom: 5px;
}

#cedula{
    position: absolute;
    margin-top: 20%;
    margin-left: 28%;
    background-color: grey;
    padding-left: 10px;
    padding-right: 150px;
    padding-top: 7px;
    padding-bottom: 5px;
}

#telefono{
    position: absolute;
    margin-top: 20%;
    margin-left: 45%;
    background-color: grey;
    padding-left: 10px;
    padding-right: 150px;
    padding-top: 7px;
    padding-bottom: 5px;
}
